{% extends "layouts/base.html" %}

{% block body_class %}app-layout{% endblock %}

{% block body %}
  <div class="app-shell">
    {% include "components/navbar.html" %}
    <div class="app-shell__main">
      <div class="app-shell__body">
        <main class="content" id="main-content">
          <div class="content__inner">
            {% block content_header %}{% endblock %}
            {% block content %}{% endblock %}
          </div>
        </main>
      </div>
    </div>
  </div>
{% endblock %}

{% block modal_root %}
  {% block modals %}{% endblock %}
{% endblock %}
